{% extends 'time_tracker/base.html' %}

{% block title %}My Projects{% endblock %}

{% block content %}
    <h1>My Projects</h1>
    <div class="scroll-container">
        <ul>
            {% for project in projects %}
            <li>
                <a href="{% url 'project-detail' project.id %}">{{ project.name }}</a>
                <p>Required hours: {{ project.required_hours }}</p>
                <p>Start date: {{ project.start_date }}</p>
                <p>End date: {{ project.end_date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
